{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container my-5">
      <h1>Notes App</h1>
      <div class="col-lg-8 px-0">
        <p class="fs-5">This is a simple notes flask app made using a TechWithTim video (<a href="https://www.youtube.com/watch?v=dam0GPOAvVI">Found Here</a>) and includes some extra styling with <a href="https://getbootstrap.com">Bootstrap</a>.</p>
        <p>Feel free to download or copy-and-paste any section of this code</p>

        <hr class="col-12 my-2">
        <h5><a href="https://www.github.com/thecoder133/notesApp" class="nav-link"><span class="nf nf-dev-github"></span></a></h5>
      </div>
    </div>
{% endblock %}
